In [2]:
import pandas as pd 
import glob
from datetime import datetime

In [5]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: wget
  Building wheel for wget (pyproject.toml): started
  Building wheel for wget (pyproject.toml): finished with status 'done'
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9680 sha256=68d5a3a16b8a42dba9eb7df9e6edcb41167834bd6a58762190b7c7a439f1574a
  Stored in directory: c:\users\arnol\appdata\local\pip\cache\wheels\40\b3\0f\a40dbd1c6861731779f62cc4babcb234387e11d697df70ee97
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [39]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

def extract():
    extracted_data=extract_from_json(glob.glob('*.json')[0])
    return extracted_data

def transform(data,exchange_rate):
    data['Market Cap (US$ Billion)']=round(data['Market Cap (US$ Billion)'] * exchange_rate , 3 )
    data.rename(columns = { 'Market Cap (US$ Billion)': ' Market Cap (GBP$ Billion) ' },inplace=True )
    return data

def load(data):
    data.to_csv('bank_market_gap_gbp.csv')

def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S'
    now = datetime.now() 
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

df=pd.read_csv('exchange_rates.csv',index_col=0)
exchange_rate=df.loc['GBP']['Rates']

log('ETL Job Started')
log('Extract phase Started')

extracted_data=extract()
log('Extract phase ended')

log('Transform phase started')
transformed_data=transform(extracted_data,exchange_rate)
transformed_data.head()
log('Transfrom phase ended')

log('Load phase Started')
load(transformed_data)
log('Load phase ended')

In [45]:
dataframe = pd.read_json(glob.glob('*.json')[0])
dataframe.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [41]:
transformed_data.head()

                                      Name   Market Cap (GBP$ Billion)
0                           JPMorgan Chase                      286.319
1  Industrial and Commercial Bank of China                      252.834
2                          Bank of America                      238.272
3                              Wells Fargo                      225.588
4                  China Construction Bank                      188.519